.material-icons {
    display: none;
}
.button {
    display: none;
}
.top-bar .pc-top-bar{
    display: none;
}
.container__menu__left{
    display: none;
}
h1 a {
    display: none;
}

h1 a[href]{
    display: none;
}
.displayNoneImpression{
    display: none;
}

.displayShowImpression
{
    display: block;
}

.block-list
{
    margin-top: 100px;
}

li a
{
    text-decoration: none;
}