.productListChildButton {   
                            color: darkblue; 
                            text-align: right;
                            cursor: pointer;
                            margin-right: 20px;
                            width: 200px
                        }
                        
.productListChildButton:hover { color: black; font-weight: bold}
